.MainTitle{
    margin-left:auto;
    margin-right:auto;
    margin-top: 0%;
    width: 100%;
    position: absolute;
    background-color:rgba(184, 184, 184, 0.9);
    padding: 0.25px;

    /* text formatting items below */
    color: black;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 10pt;    
}

.videoMainBlock{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    position: absolute;
    display: flex;

    /* PC only: */
    /* aspect-ratio: 16/9; */

    /* PI only: */
    aspect-ratio: 154.08/85.92;
}

.VideoDisplayingItem{
    width: 100%;   
}