.MainTitle{
    margin-left:auto;
    margin-right:auto;
    margin-top: 0%;
    left: 50%;
    transform: translate(-50%, 5%);
    width: auto;
    position: absolute;
    background-color:rgba(184, 184, 184, 0.7);
    border-style: solid;
    border-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;

    /* text formatting items below */
    color: black;
    /* -webkit-text-stroke: 1px black; */
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 8pt;    
}

.videoMainBlock{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    position: absolute;
    display: flex;

    /* PC only: */
    /* aspect-ratio: 16/9; */

    /* PI only: */
    aspect-ratio: 154.08/85.92;
}

.VideoDisplayingItem{
    width: 100%;   
}