<!DOCTYPE html>
<html>
<head>
    <!-- This template is an overlay for the webcam viewer cycler app. -->
    <title>
        Logan's RPI Webcam Cycler
    </title>
    <link rel="stylesheet" href="../static/styling.css">
</head>
<body>
    <main>
        <!-- video block here -->
        <div class="videoMainBlock">
                <iframe
                    class="VideoItem" 
                    src="{{config['URL']}}"
                    allow="autoplay"
                    allowfullscreen
                    webkitallowfullscreen
                    mozallowfullscreen>
                </iframe>

            <!-- this is where the upper title block is going -->
            <!-- TODO: update names to be dynamic -->
            <div class="MainTitle">
                <h1> {{ config['webcamLocationDesc'] }} </h1> 
                <h3><span id = "Webcam_local_time_"></span></h3>
            </div>
        </div>
    </main>
</body>

<script>
    function UpdateWebcamLocalTime(){
        fetch("/live/")
        .then(response => response.json())
        .then(data => {
            let t = data.Webcam_local_time;
            
            let WebcamLocalTimeElement = document.getElementById("Webcam_local_time_");
            WebcamLocalTimeElement.innerText = {t};
            document.getElementById('Webcam_local_time_').innerText = t;

            console.log(data);
        })
    }

    function ShuffleVideoSource(){
        fetch("/shuffle/")
        .then(response => response.json())
        .then(data => {
            let t = data.Webcam_local_time;
            
            let WebcamLocalTimeElement = document.getElementById("Webcam_local_time_");
            WebcamLocalTimeElement.innerText = {t};
            document.getElementById('Webcam_local_time_').innerText = t;

            console.log(data);
        })
    }

    setInterval(UpdateWebcamLocalTime,1000)
    setInterval(ShuffleVideoSource,15000)
    
</script>
</html>