<!DOCTYPE html>
<html>
<head>
    <!-- This template is an overlay for the webcam viewer cycler app. -->
    <link rel="stylesheet" href="../static/styling.css">

    <!-- HLS.js decoder (for missing HLS (m3u8) codec) -->
    <script defer src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

    <!-- video JS things here -->
    <!-- <link href="https://vjs.zencdn.net/8.23.4/video-js.css" rel="stylesheet" />
    <script defer src="https://vjs.zencdn.net/8.23.4/video.min.js"></script>
    <script defer src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.min.js"></script> -->

    <title>
        Logan's RPI Webcam Cycler
    </title>
</head>
<body>
    <main>
        <!-- video block here -->
        <div class="videoMainBlock">
                <!-- <iframe
                    class="VideoItem" 
                    id="iFrameElement"
                    src="id"
                    frameborder="0"
                    preload="auto"
                    controls
                    allowfullscreen webkitallowfullscreen mozallowfullscreen muted autoplay
                    >
                </iframe> -->

                <video
                    class="VideoItem" 
                    id="iFrameElement"
                    src="id"
                    frameborder="0"
                    preload="auto"
                    controls
                    allowfullscreen webkitallowfullscreen mozallowfullscreen muted autoplay
                    >
                </video>

            <!-- this is where the upper title block is going -->
            <div class="MainTitle">
                <h1><span id = "Webcam_location_description"></span></h1>
                <h3><span id = "Webcam_local_time_"></span></h3>
            </div>
        </div>
    </main>
</body>

<script>
    function autoplay_NTV_streams(){
        fetch("/NTVCAMERA/")
        };

    document.addEventListener('DOMContentLoaded',function(){
        ShuffleVideoSource()
    });
    
    function UpdateWebcamLocalTime(){
        fetch("/live/")
        .then(response => response.json())
        .then(data => {
            let t = data.Webcam_local_time;
            
            //update time element
            let WebcamLocalTimeElement = document.getElementById("Webcam_local_time_");
            WebcamLocalTimeElement.innerText = {t};
            document.getElementById('Webcam_local_time_').innerText = t;

            //console.log(data);
        })
    }

    function ShuffleVideoSource(){
        fetch("/shuffle/")
        .then(response => response.json())
        .then(data => {
            let t = data.Webcam_local_time;
            let webcamLocationDesc = data.webcamLocationDesc;
            let new_URL = data.ShuffledURL;
            let NTV = data.NTV;

            //update time element
            let WebcamLocalTimeElement = document.getElementById("Webcam_local_time_");
            WebcamLocalTimeElement.innerText = {t};
            document.getElementById('Webcam_local_time_').innerText = t;

            // update location description element
            let webcamLocationDescElement = document.getElementById("Webcam_location_description");
            webcamLocationDescElement.innerText = {webcamLocationDesc};
            document.getElementById('Webcam_location_description').innerText = webcamLocationDesc;

            // update URL
            let iframeElement = document.getElementById("iFrameElement");
            iframeElement.src = new_URL;

            // call autoclick fcn
            if (NTV) {
                autoplay_NTV_streams()
            }

            console.log(data.webcamLocationDesc, data.ShuffledURL);
        })
    }
    
    setInterval(UpdateWebcamLocalTime,1000)
    setInterval(ShuffleVideoSource,60000)
    
</script>
</html>