<!DOCTYPE html>
<html>
<head>
    <!-- This template is an overlay for the webcam viewer cycler app. -->
    <title>
        Webcam Cycler
    </title>
    <link rel="stylesheet" href="./styling.css">
</head>
<body>
    <main>
        <!-- video block here -->
        <div class="videoMainBlock">
            <div>
                <iframe
                    class="VideoItem" 
                    src="https://c.streamhoster.com/embed/media/Wwsd4L/ifYPgArsAHz/ime5SjsYrM9_5"
                    allow="autoplay"
                    allowfullscreen
                    webkitallowfullscreen
                    mozallowfullscreen>
                </iframe>
            </div>
        </div>

        <!-- this is where the upper title block is going -->
        <!-- TODO: update names to be dynamic -->
        <div class="MainTitle">
            <div>
                <h1> St. John's from Signal Hill </h1> 
                <h3> 09/01/2025 - 9:10 pm </h3>
            </div>
        </div>
    </main>
</body>
</html>