.MainTitle{
    margin-left:auto;
    margin-right:auto;
    margin-top: 0%;
    width: 100%;
    position: absolute;
    color:white;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font:400;
    font-size: 10pt;
    background-color:rgba(184, 184, 184, 0.60);
    padding: 0.25px;
}

.videoMainBlock{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    /* height: 100%;  */
    aspect-ratio: 16/9;
    position: absolute;
    display: flex;
}

.VideoItem{
    /* margin-left:auto;
    margin-right:auto;
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center; */
    width: 100%;   
}