<!DOCTYPE html>
<html>
<head>
    <!-- This template is an overlay for the webcam viewer cycler app. -->
    <title>
        HTML static disconnected
    </title>
    <link rel="stylesheet" href="../static/styling.css">
</head>
<body>
    <main>
        <!-- video block here -->
        <div class="videoMainBlock">

                <iframe
                    class="VideoItem" 
                    src="https://c.streamhoster.com/embed/media/Wwsd4L/ifYPgArsAHz/FtRv7RscdMl_5"
                    allow="autoplay; encrypted-media"
                    frameborder="0"
                    allowfullscreen webkitallowfullscreen mozallowfullscreen muted>
                </iframe>

            <!-- this is where the upper title block is going -->
            <!-- TODO: update names to be dynamic -->
            <div class="MainTitle">
                <h1> TESTER LOCATION HTML </h1> 
                <h3> Local time: 12.01 pm</h3>
                <!-- <h3><span id = "Webcam_local_time_"></span></h3> -->
            </div>
        </div>
    </main>
</body>

<script>
    document.addEventListener('DOMContentLoaded',function(){
        // def fcn to auto click
        const rect = iframeElement.getBoundingClientRect();
        const centerX = rect.left + rect.width / 2;
        const centerY = rect.top + rect.height / 2;

        var clickEvent = new MouseEvent("click", {
            view: window,
            bubbles: true,
            cancelable: true, 
            clientX: centerX,
            clientY: centerY, 
        });

        // click to play for NTV videos
        iframeElement.dispatchEvent(clickEvent);

        console.log(data);
        return
    })


</script>