<!DOCTYPE html>
<html>
<head>
    <!-- This template is an overlay for the webcam viewer cycler app. -->
    <title>
        HTML static disconnected
    </title>
    <link rel="stylesheet" href="../static/styling.css">
</head>
<body>
    <main>
        <!-- video block here -->
        <div class="videoMainBlock">
                <iframe
                    class="VideoItem" 
                    src="https://c.streamhoster.com/embed/media/Wwsd4L/ifYPgArsAHz/GNPhLAscIFd_5?autoplay=1&mute=1"
                    allow="autoplay; encrypted-media"
                    frameborder="0"
                    allowfullscreen webkitallowfullscreen mozallowfullscreen muted>
                </iframe>

            <!-- this is where the upper title block is going -->
            <!-- TODO: update names to be dynamic -->
            <div class="MainTitle">
                <h1> TESTER LOCATION HTML </h1> 
                <h3> Local time: 12.01 pm</h3>
                <!-- <h3><span id = "Webcam_local_time_"></span></h3> -->
            </div>
        </div>
    </main>
</body>