<!DOCTYPE html>
<html>
<head>
    <!-- This template is an overlay for the webcam viewer cycler app. -->
    <link rel="stylesheet" href="../static/styling.css">
    <!-- Video JS items: -->
    <link href="https://vjs.zencdn.net/8.23.4/video-js.css" rel="stylesheet" />
    <script defer src="https://vjs.zencdn.net/8.23.4/video.min.js"></script>
    <script defer src="https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.min.js"></script>
    <title>
        Webcam Cycler test page
    </title>
</head>
<body>
    <main>
        <!-- video block here -->
        <div class="videoMainBlock">

            <video
                class="VideoDisplayingItem" 
                src="https://d2wse2.its.nv.gov:443/renoxcd02/94ce9220-7e98-417b-9c9a-5ce303401695_hspflirxcd02_public.stream/playlist.m3u8"
                allow="autoplay; encrypted-media"
                frameborder="0"
                allowfullscreen webkitallowfullscreen mozallowfullscreen muted autoplay
                allow="autoplay; fullscreen; encrypted-media"
                data-setup="{}"
                preload="auto"
                type="video/m3u8">
            </video>

            <!-- this is where the upper title block is going -->
            <!-- TODO: update names to be dynamic -->
            <div class="MainTitle">
                <h1> Mt. Rose West Meadow </h1> 
                <h2> Local time: HH:MM pm</h2>
                <!-- <h3><span id = "Webcam_local_time_"></span></h3> -->
            </div>
        </div>
    </main>
</body>

<script>
    document.addEventListener('DOMContentLoaded',function(){
        // def fcn to auto click
        const rect = iframeElement.getBoundingClientRect();
        const centerX = rect.left + rect.width / 2;
        const centerY = rect.top + rect.height / 2;

        var clickEvent = new MouseEvent("click", {
            view: window,
            bubbles: true,
            cancelable: true, 
            clientX: centerX,
            clientY: centerY, 
        });

        // click to play for NTV videos
        iframeElement.dispatchEvent(clickEvent);

        console.log(data);
        return
    })


</script>